
body {
  padding-top: 56px;
background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar {
  
   background-color: rgba(0, 0, 0, 0.4);
}
.header {
  
   background-color: rgba(0, 0, 0, 0.4);
}

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .2;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 800px;
    height: 800px;
    left: 5%;
    animation-duration: 13s;
    animation-delay:1.9s;
}

.burbuja:nth-child(2){
    width: 1000px;
    height: 1000px;
    left: 35%;
    animation-duration: 13s;
    animation-delay: 8s;
}

.burbuja:nth-child(3){
    width: 200px;
    height: 200px;
    left: 15%;
    animation-duration: 11.5s;
    animation-delay: 3s;
}

.burbuja:nth-child(4){
    width: 500px;
    height: 500px;
    left: 40%;
    animation-duration: 16s;
    animation-delay: 6s;
}

.burbuja:nth-child(5){
    width: 700px;
    height: 700px;
    left: 15%;
    animation-duration: 13s;
    animation-delay: 2s;
}

.burbuja:nth-child(6){
    width: 200px;
    height: 200px;
    left: 40%;
    animation-duration: 14s;
    animation-delay: 4s;
}

.burbuja:nth-child(7){
    width: 200px;
    height: 200px;
    left: 50%;
    animation-duration: 14s;
    animation-delay: 7s;
}

.burbuja:nth-child(8){
    width: 1000;
    height: 1000px;
    left: 52%;
    animation-duration: 15s;
    animation-delay: 2s;
}

.burbuja:nth-child(9){
    width: 650px;
    height: 650px;
    left: 51%;
    animation-duration: 13s;
    animation-delay: 0s;
}

.burbuja:nth-child(10){
    width: 400px;
    height: 400px;
    left: 35%;
    animation-duration: 13s;
    animation-delay: 5s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .04;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}