<!-- Navigation -->
<div th:fragment="header">
    <div class="burbujas">
           

        </div>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div class="container">
				<a class="navbar-brand" th:href="@{/usuario/acceder}"><img src="https://i.ibb.co/PD1cWwF/brilazz1.png" alt="brilazz1" border="0" /></a>

				<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search1}">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Buscar" aria-label="Search" name="nombre"
						autocomplete="off" size="80px">
					<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
				</form>


			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> ADMIN </a>
							
							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/productos}">Productos</a> 
								<a class="dropdown-item" th:href="@{/administrador/usuarios}">Usuarios</a>
								<a class="dropdown-item" th:href="@{/administrador/ordenes}">Ordenes</a>
								<a class="dropdown-item" th:href="@{/usuario/cerrar}">Salir</a>
							</div></li>
				</ul>
			</div>
		</div>
	</nav>

</div>



<!-- Footer -->
<div th:fragment="footer">
	<footer class="py-5 bg-transparent">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Cientifica del Sur -  <img src="https://i.ibb.co/0YnMvff/made1.png" alt="made1" border="0" /><img src="https://i.ibb.co/cLtyFkf/brilaz4.png" alt="brilaz4" border="0" /> Spring
					Ecomerce 2022 </p>
		</div>
		<!-- /.container -->
	</footer>

</div>